<header class="site-header" id="siteHeader">

    <!-- BRAND <h1 class="site-title">𝐀𝐥 𝐇𝐈𝐍𝐃 𝐄𝐃𝐔𝐂𝐀𝐓𝐈𝐎𝐍𝐀𝐋 𝐀𝐍𝐃 𝐂𝐇𝐀𝐑𝐈𝐓𝐀𝐁𝐋𝐄 𝐓𝐑𝐔𝐒𝐓</h1> -->
    <div class="brand">
        <img src="/assets/logo.jpeg" alt="AL Education Trust Logo" class="logo">
        <h1 class="site-title">AL HIND EDUCATIONAL AND CHARITABLE TRUST</h1>
    </div>

    <!-- MOBILE TOGGLE -->
    <div class="menu-toggle" id="menuToggle">☰</div>

    <!-- NAV -->
    <nav id="mainNav">
        <a href="/index.html" class="nav-link">Home</a>
        <a href="/pages/about.html" class="nav-link">About Us</a>
        

        <!-- DROPDOWN -->
        <div class="nav-dropdown">
        
            <span class="nav-link dropdown-btn">
                More ▾
            </span>
        
            <div class="dropdown-menu">
                <a href="/pages/gallery.html" class="nav-link">Gallery</a>
                <a href="/pages/events.html" class="nav-link">Events</a>
                <a href="/pages/programs.html" class="nav-link">Our Work</a>
                <a href="/pages/volunteer.html" class="nav-link">Volunteer</a>
                <a href="/pages/blog.html" class="nav-link">Blog</a>
            </div>
        
        </div>


        <a href="/pages/certificates.html" class="nav-link">Certificates</a>
        <a href="/pages/chairman.html" class="nav-link">Chairman’s Desk</a>
        <a href="/pages/donate.html" class="nav-link donate-link">Donate</a>
        <a href="/pages/contact.html" class="nav-link">Contact</a>
    </nav>


</header>